﻿@page
@model SAA.Front.Pages.Paginas.Clientes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Cliente.userId" class="control-label"></label>*@
                <input asp-for="Cliente.userId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cliente.nome" class="control-label"></label>
                <input asp-for="Cliente.nome" class="form-control" />
                <span asp-validation-for="Cliente.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.cpf" class="control-label"></label>
                <input asp-for="Cliente.cpf" class="form-control" />
                <span asp-validation-for="Cliente.cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.idade" class="control-label"></label>
                <input asp-for="Cliente.idade" class="form-control" />
                <span asp-validation-for="Cliente.idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.email" class="control-label"></label>
                <input asp-for="Cliente.email" class="form-control" />
                <span asp-validation-for="Cliente.email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Cliente.dataCadastro" class="control-label"></label>
                <input asp-for="Cliente.dataCadastro" class="form-control" />
                <span asp-validation-for="Cliente.dataCadastro" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
