﻿@page
@model SAA.Front.Pages.Paginas.Clientes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.userIdentity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.userIdentity.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.dataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.dataCadastro)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
