﻿@page
@model SAA.Front.Pages.Paginas.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.userIdentity)
        </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.userIdentity.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.email)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.dataCadastro)
        </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.dataCadastro)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
