﻿@page
@model SAA.Front.Pages.Paginas.Empresas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empresa.userId" class="control-label"></label>
                <select asp-for="Empresa.userId" class ="form-control" asp-items="ViewBag.userId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.nome" class="control-label"></label>
                <input asp-for="Empresa.nome" class="form-control" />
                <span asp-validation-for="Empresa.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.email" class="control-label"></label>
                <input asp-for="Empresa.email" class="form-control" />
                <span asp-validation-for="Empresa.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.cnpj" class="control-label"></label>
                <input asp-for="Empresa.cnpj" class="form-control" />
                <span asp-validation-for="Empresa.cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.dataCadastro" class="control-label"></label>
                <input asp-for="Empresa.dataCadastro" class="form-control" />
                <span asp-validation-for="Empresa.dataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
