﻿@page
@model SAA.Front.Pages.Paginas.Empresas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.userIdentity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.userIdentity.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.dataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.dataCadastro)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Empresa.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
