﻿@page
@model SAA.Front.Pages.Paginas.Empresas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.userIdentity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.userIdentity.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.dataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.dataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
