﻿@page
@model SAA.Front.Pages.Paginas.Empresas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa[0].userIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa[0].nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa[0].cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa[0].dataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empresa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userIdentity.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCadastro)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
